// $brand-hh-primary: #092C62;
$brand-hh-primary: #053D7C;
$brand-hh-secondary: #053D7C;

$brand-hh-primary-text: #144D8E;

$brand-hh-primary-dark: darken($brand-hh-primary, 10%);
$brand-hh-primary-light: lighten($brand-hh-primary, 10%);
$brand-hh-primary-lighter: lighten($brand-hh-primary, 35%);
$brand-hh-secondary-dark: darken($brand-hh-secondary, 10%);

$brand-hh-focus:              #EF4023;
$brand-hh-focus-dark: darken($brand-hh-focus, 10%);

$gray-hh-base:              #F26649;
$gray-hh-darker:            lighten($gray-hh-base, 13.5%);
$gray-hh-dark:              #666;
$gray-hh:                   #777;
$gray-hh-light:             #AEA79F;
$gray-hh-lighter: lighten($gray-hh-base, 93.5%);

.o_brand_hh .o_main_navbar {
    background-color: $brand-hh-primary !important;
}

.o_brand_hh .o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: $brand-hh-focus !important;
}

.o_brand_hh .btn-secondary:not(:disabled):not(.disabled):active,
.o_brand_hh .btn-secondary:not(:disabled):not(.disabled).active,
.o_brand_hh .show > .btn-secondary.dropdown-toggle {
    color: white !important;
    background-color: $brand-hh-focus !important;
    border: 1px solid $brand-hh-focus-dark;
}

.o_brand_hh .o_loading {
    background-color: $brand-hh-primary;
}

.o_brand_hh .o_main_navbar {
    background-color : $brand-hh-primary;
}

.o_brand_hh .o_main_navbar .show .dropdown-toggle {
    background-color: $brand-hh-focus;
    color: white;
}

.o_brand_hh .o_main_navbar > a:hover,
.o_brand_hh .o_main_navbar > a:focus,
.o_brand_hh .o_main_navbar > button:hover,
.o_brand_hh .o_main_navbar > button:focus {
    background-color: $brand-hh-primary-light;
    color: inherit;
}

.o_brand_hh .o_main_navbar > ul > li > a:hover,
.o_brand_hh .o_main_navbar > ul > li > label:hover {
    background-color: $brand-hh-primary-text;
    color: white;
}

.o_brand_hh .o_main_navbar > ul > li > a.full{
    animation-duration: 4s;
    background-size: 38px 32px;
}

.o_brand_hh .o_main_navbar > ul > li > a.full:hover{
    background-color: transparent;
}

// Fix color Add file button
.o_brand_hh .o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    color: $gray-hh-dark !important;
}

// Buttons

.o_brand_hh .btn {
    border-radius: 0;
}

.o_brand_hh .btn-primary {
    color: #fff;
    background-color: $brand-hh-secondary;
    border-color: $brand-hh-secondary;
}

.o_brand_hh .btn-primary:hover {
    color: #fff;
    background-color: $brand-hh-primary-lighter;
    border-color: $brand-hh-primary-light;
}

.o_brand_hh .btn-secondary {
    border: 1px solid;
}

.o_brand_hh .btn:active,
.o_brand_hh .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.o_brand_hh .btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.o_brand_hh .btn-link {
    color: $brand-hh-secondary;
}

.o_brand_hh .btn-print{
    color:#ffffff;
    background: #7d615c;
    border-color: #7d615c;
}

.o_brand_hh .btn-print:hover{
    color:#eeeeee;
}

.o_brand_hh .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: $brand-hh-primary;
}

.o_brand_hh .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover {
    color: $brand-hh-primary;
}

.o_brand_hh .o_dropdown_toggler_btn,
.o_brand_hh .o_dropdown_toggler_btn:hover,
.o_brand_hh .o_dropdown_toggler_btn:focus,
.o_brand_hh .o_dropdown_toggler_btn:hover,
.o_brand_hh .o_dropdown_toggler_btn:focus,
.o_brand_hh .btn-icon,
.o_brand_hh .o_graph_button{
    color: $brand-hh-primary;
}

.o_brand_hh .o_dropdown{
    border: 1px solid;
}

.o_brand_hh .btn-group.o_dropdown:hover{
    background: $brand-hh-focus;
}

.o_brand_hh .btn-group.o_dropdown .btn-secondary:hover{
    color: white !important;
}

.o_brand_hh .dropdown-menu {
    border-radius: 0px;
}

.o_brand_hh .oe_highlight {
    color: #ffffff !important;
    background-color: $brand-hh-primary !important;
}

.o_brand_hh .o_external_button {
    color: $brand-hh-primary !important;
    background: #ffffff;
}

.o_brand_hh .o_button_icon {
    color: $brand-hh-primary !important;
}

// Badges

.o_brand_hh .badge {
    border: 1px solid $brand-hh-secondary;
}

// Calendar

.o_brand_hh .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: $brand-hh-primary !important;
    color: #ffffff !important;
}

.o_brand_hh .o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default {
    color: $brand-hh-primary;
}

.o_brand_hh .datepicker {
    .table-sm {
        > thead {
            color: white;
            background-color: $brand-hh-primary;

            > tr {
                &:first-child {
                    th:hover {
                        color: white;
                        background-color: darken($brand-hh-primary, 10%);
                    }
                }

                &:last-child {
                    color: $o-datepicker-week-color;
                    background-color: $o-datepicker-week-bg-color;
                }
                > th {
                    border-radius: 0;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    &.active, .active {
                        background-color: $o-brand-primary;
                        border-radius: 100px;
                    }

                    &.today:before {
                        border-bottom-color: $o-brand-primary;
                    }
                }
            }
        }
    }
}

.o_brand_hh .datepicker .table-sm > tbody > tr > td.active,
.o_brand_hh .datepicker .table-sm > tbody > tr > td .active {
    background-color: $brand-hh-primary;
	border-radius: 0;
}

// Filter search label

.o_brand_hh .o_searchview {
    .o_searchview_facet {

         background-color: #ffffff;

        .o_searchview_facet_label {
            background-color: $brand-hh-primary;
        }
    }
}

.o_brand_hh a {

    color: $brand-hh-secondary;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.o_brand_hh a:hover {
    color: $brand-hh-secondary-dark;
    text-decoration: none;
}


.o_brand_hh .o_control_panel {
    background-color: #ffffff;
}

.o_brand_hh .breadcrumb {
    background-color: inherit;
}

// Input

.o_brand_hh input[type="text"],
.o_brand_hh input[type="password"],
.o_brand_hh input[type="number"],
.o_brand_hh textarea,
.o_brand_hh select,
.o_brand_hh .o_form_view.o_form_editable .o_form_field_many2manytags,
.o_brand_hh .o_searchview
{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

.o_brand_hh .o_web_client input:focus,
.o_brand_hh .o_web_client textarea:focus,
.o_brand_hh .o_web_client select:focus {
    outline: none;
    //border-bottom: 2px solid $brand-hh-primary;
}

.o_brand_hh .o_input {
    border: 1px solid #ccc;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: $gray;
}

.o_brand_hh .o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $brand-hh-secondary
    }
}

.o_brand_hh {
    .o_required_modifier {
        &.o_input, .o_input {
            background-color: lighten($brand-hh-focus, 35%) !important;
        }
    }
}

.o_brand_hh .input-group-text {
	background-color: transparent;
	color: #fff;
	border: 0px;
}

// Listview
.o_brand_hh .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{
    background-color: $brand-hh-primary;
    color: white;
}

.o_brand_hh .o_list_view .o_list_table .o_column_sortable:not(.o_handle_cell)::after{
    color: $brand-hh-focus;
}

.o_brand_hh .o_list_view .o_list_table .o_column_sortable:not(.o_handle_cell)::after:hover{
    color: white;
}

.o_brand_hh .o_list_view.table {
    border: none;
}
.o_brand_hh .o_list_view.table thead,
.o_brand_hh .o_list_view.table tfoot,
.o_brand_hh .o_list_view.table td,
.o_brand_hh .o_list_view.table th {
    border: none;
}

 
.o_brand_hh .o_list_view.table thead {
    background-color: #e2e2e0;
}
 
.o_brand_hh .o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: #D6D6D3;
}
 
.o_brand_hh .o_list_view.table tbody tr.o_group_header {
    background-color: #dfdfdf;
    background-image: none;
    border-top: 1px solid #e2e2e0;
}

.o_brand_hh .table th{
    border-top:none;
}

.o_brand_hh .table thead th{
    border-bottom: 0;
    bottom-top: 0;
}

.o_brand_hh .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f2f2f2;
}

.o_brand_hh .o_list_view tfoot {
    cursor: default;
    font-weight: normal;
    font-weight:bold;
}

.o_brand_hh .ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #dee2e6;
}

.o_brand_hh .ui-menu-item a:hover,
.o_brand_hh .ui-menu-item a:focus {
    color: #666666 !important;
}

.o_brand_hh .ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #666666 !important;
}

.o_brand_hh .o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
    color: $brand-hh-primary;
}

.o_brand_hh .o_form_view .o_horizontal_separator {
    color: #666666;
    font-weight: bold;
}

// Forms

.o_brand_hh .o_form_view {
     .o_form_sheet_bg {
        background: none !important;
        background-color: #F9F9F9 !important;
        padding: 0px;
        .o_form_sheet {
            border: 1px solid #d9d7d7;
            box-shadow: 0 5px 20px -15px black;
        }
    } 

    .o_form_statusbar {
        //margin: -16px;
  
        .o_statusbar_status {
            > .o_arrow_button {
                background: #ffffff;
            }
        }
    }
}
.o_brand_hh .custom-control.custom-checkbox .custom-control-input:not(:checked):not(:indeterminate) ~ .custom-control-label:before{
    outline: 1px solid $brand-hh-primary;
}

.o_brand_hh .custom-checkbox .custom-control-label::before{
    border-radius:0;
}
// App Dashboard


.o_brand_hh .o_menu_apps .dropdown-menu.show {
	background: url("../img/logo_hh.png") no-repeat center 85% , url(/backend_theme_v13/static/src/img/home-menu-bg-overlay.svg),
        linear-gradient(to left bottom,  #62c4e5, #053D7C);
}
.o_brand_hh .full{
    background: url("../img/icon_hh.png") no-repeat scroll center center;
}

.o_brand_hh .full:hover{
    background-color: transparent;
}

.o_brand_hh .full .fa-th-large::before{
    content: "";
}

.o_brand_hh .fa-th-large::before {
//     content: "\f00a";
}

.o_brand_hh .o_menu_apps .full {
    width: 46px;
    font-size: 18px;
    text-align: center;
}

.o_brand_hh .o-app-name {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.o_brand_hh .o_menu_apps .dropdown-menu.show .o-app-icon {
	padding: 20px 0 0;
	width: 80%;
	max-width: 70px;
	transition: all 0.3s ease 0s;
}

.o_brand_hh .o_menu_apps .dropdown-menu.show .o-app-icon:hover {
	box-shadow: 0 8px 0 -10px white;
    transform: translateY(-1px);
}

.o_brand_hh .dropdown-item.o_app {
    background: transparent;
}

.o_brand_hh .o-menu-search-result {
	color: #fff;
}

// Chat window

.o_brand_hh .o_thread_window .o_thread_window_header {
	background-color: $brand-hh-primary;
}

// Custom

.o_brand_hh .o_form_view .oe_big_avatar > img {
    max-width: 220px !important;
    max-height: 220px !important;
}

.oe_small_avatar > img {
    max-width: 96px !important;
    max-height: 96px !important;
}

.o_brand_hh .o_form_view.o_form_editable .oe_title{
    max-width: 100% !important;
}


// Form chi tiết hóa đơn nhỏ lại
.o_brand_hh .o_sale_order .o_content .o_form_view .o_form_sheet {
    max-width: 960px;
}

.o_brand_hh .btn-m15{
    margin-left: 15px;
}

// Thêm * vào field required
.o_brand_hh .o_form_editable label.o_required_modifier:after {
    content:" *";
    color: $brand-hh-focus;
    font-size: larger;
    font-weight: 700;
}

.o_brand_hh .breadcrumb-item.active{
    color: $brand-hh-primary;
}

.o_brand_hh .o_form_view .o_group .o_td_label .o_form_label{
    font-weight: normal !important
}

// Kanban full in form
.o_brand_hh .o_kanban_view.o_kanban_ungrouped .o_kanban_record.o_kanban_full
{
    width: 100% !important;
}

.o_brand_hh .o_kanban_view.o_kanban_ungrouped .o_kanban_record.o_kanban_full .container
{
    max-width: 100% !important;
}

.o_brand_hh .o_kanban_view.o_kanban_ungrouped .o_kanban_record.o_kanban_full
{
    background-color: #fff6d9;
    border: 1px solid #efdaa3;
    padding: 12px 16px 12px;
    margin-bottom: 16px;
    border-radius: 3px;
    color: #333;
}

.o_brand_hh .o_kanban_view.o_kanban_ungrouped .o_kanban_record.o_kanban_full .btn-radius{
    border-radius: 5px;
}

.o_brand_hh .o_form_view .o_group .o_td_label .o_form_label{
    font-weight: normal !important
}

// Footer popup
.o_brand_hh .crm_lead_box_change_infor{
    position: sticky;
    background-color: rgba(222, 226, 230, 1);
    bottom: 0;
    text-align: center;
    border: 1px solid #ddd;
    color: $brand-hh-primary;
    z-index: 1;
    font-size: 14px;
    padding: 6px 0 3px 0;
}

.o_brand_hh .crm_box_change_infor{
    position: fixed;
    background-color: rgba(222, 226, 230, 1);
    bottom: 0;
    text-align: center;
    border: 1px solid #ddd;
    color: $brand-hh-primary;
    z-index: 1;
}

.o_brand_hh .crm_lead_box_change_infor span{ padding-right: 5px;}
.o_brand_hh .crm_box_change_infor span{ padding-right: 7px;}