.oe_cp_refresher {
    margin: auto 0 auto auto;
    padding-left: 5px;
    text-align: right;
    user-select: none;
    flex-grow: 1;
}

.oe_pager_refresh {
    color: green !important;
    font-weight: bold;
}
