<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem name="Báo cáo nhanh kế toán"
                  id="sales_by_source_root_menu"
                  sequence="100"
                  groups="group_note_accounting_revenue_user,group_note_accounting_cost_user,group_note_accounting_report"
                  web_icon="sci_notebook_accounting,static/image/clipboard.png"/>
        <menuitem name="Doanh số theo nguồn"
                  id="sales_by_source_menu"
                  parent="sci_notebook_accounting.sales_by_source_root_menu"
                  sequence="1"
                  groups="group_note_accounting_revenue_user"
                  action="sci_notebook_accounting.sales_by_source_act_window"/>
        <menuitem name="Doanh số kế hoạch"
                  id="synthesis_sales_by_source_type_pivot_menu"
                  sequence="2"
                  groups="group_note_accounting_admin"
                  parent="sci_notebook_accounting.sales_by_source_root_menu"
                  action="sales_by_source_by_type_act_window"/>
        <menuitem name="Cuối kỳ"
                  id="sales_by_source_config_root_menu_01"
                  sequence="2"
                  groups="group_note_accounting_admin"
                  parent="sci_notebook_accounting.sales_by_source_root_menu"/>
            <menuitem name="Khóa sổ"
                      id="sales_by_source_locked_menu"
                      parent="sci_notebook_accounting.sales_by_source_config_root_menu_01"
                      sequence="1"
                      groups="group_note_accounting_admin"
                      action="sci_notebook_accounting.sales_source_locked_wizard_action"/>
            <menuitem name="Mở khóa sổ"
                      id="sales_by_source_unlocked_menu"
                      parent="sci_notebook_accounting.sales_by_source_config_root_menu_01"
                      sequence="2"
                      groups="group_note_accounting_admin"
                      action="sci_notebook_accounting.sales_source_unlocked_wizard_action"/>
        <menuitem name="Báo cáo"
                  id="sales_by_source_pivot_root_menu"
                  sequence="3"
                  groups="group_note_accounting_revenue_manager,group_note_accounting_cost_manager,group_note_accounting_report"
                  parent="sci_notebook_accounting.sales_by_source_root_menu"/>
            <menuitem name="Báo cáo tổng hợp doanh số"
                          id="synthesis_sales_by_source_pivot_menu"
                          sequence="1"
                          parent="sci_notebook_accounting.sales_by_source_pivot_root_menu"
                          action="synthesis_sales_by_source_dashboard_act_window"/>
            <menuitem name="Báo cáo theo từng chỉ tiêu"
                          id="report_pivot_root_menu"
                          sequence="2"
                          parent="sci_notebook_accounting.sales_by_source_pivot_root_menu"/>
                <menuitem name="Doanh số theo nguồn"
                              id="report_sales_by_source_pivot"
                              sequence="1"
                              parent="sci_notebook_accounting.report_pivot_root_menu"
                              action="sales_by_source_pivot_act_window"/>
                <menuitem name="Doanh số theo dịch vụ"
                              id="report_sales_by_service_pivot"
                              sequence="2"
                              parent="sci_notebook_accounting.report_pivot_root_menu"
                              action="sales_by_service_pivot_act_window"/>
                <menuitem name="Doanh số theo nguồn bán"
                              id="report_sales_by_revenue_pivot"
                              sequence="3"
                              parent="sci_notebook_accounting.report_pivot_root_menu"
                              action="sales_by_revenue_pivot_act_window"/>
                <menuitem name="Doanh số theo nhóm chi phí"
                              id="report_sales_by_cost_pivot"
                              sequence="4"
                              parent="sci_notebook_accounting.report_pivot_root_menu"
                              action="sales_by_cost_pivot_act_window"/>
                <menuitem name="Báo cáo so sánh theo ngày"
                          id="view_compare_by_date_root_menu"
                          sequence="3"
                          parent="sci_notebook_accounting.sales_by_source_pivot_root_menu"/>
                    <menuitem name="Báo cáo tăng trưởng ngày"
                              id="view_compare_by_date_pivot_menu"
                              sequence="1"
                              parent="sci_notebook_accounting.view_compare_by_date_root_menu"
                              action="view_compare_by_date_act_window"/>
                <menuitem name="Tính toán chỉ số ROI"
                          id="view_calculator_root_menu"
                          sequence="4"
                          parent="sci_notebook_accounting.sales_by_source_pivot_root_menu"/>
                    <menuitem name="Doanh số theo nhóm chi phí"
                              id="view_view_calculator_root_menu_menu"
                              sequence="1"
                              groups="group_note_accounting_admin"
                              parent="sci_notebook_accounting.view_calculator_root_menu"
                              action="note_account_calculator_index_act_window"/>
        <menuitem name="Bút toán phân bổ"
                  id="sales_by_source_config_root_menu_04"
                  sequence="4"
                  groups="group_note_accounting_cost_manager,group_note_accounting_revenue_manager"
                  parent="sci_notebook_accounting.sales_by_source_root_menu"/>
            <menuitem name="Doanh số kế hoạch"
                      id="sales_by_source_config_menu_01"
                      sequence="1"
                      parent="sci_notebook_accounting.sales_by_source_config_root_menu_04"/>
                <menuitem id="plan_revenue_menu"
                          name="Kế hoạch doanh thu năm"
                          parent="sci_notebook_accounting.sales_by_source_config_menu_01"
                          action="plan_revenue_action"
                          sequence="3"/>
                <menuitem id="plan_revenue_detail_menu"
                          name="Kế hoạch chi tiết theo tháng"
                          parent="sci_notebook_accounting.sales_by_source_config_menu_01"
                          action="plan_revenue_detail_action"
                          sequence="4"/>
            <menuitem name="Chi phí kế hoạch"
                      id="sales_by_source_config_menu_02"
                      sequence="2"
                      groups="group_note_accounting_cost_user"
                      parent="sci_notebook_accounting.sales_by_source_config_root_menu_04"/>
                <menuitem name="Lập chi phí kế hoạch"
                          id="note_account_plan_cost_menu"
                          sequence="1"
                          groups="group_note_accounting_cost_user"
                          parent="sci_notebook_accounting.sales_by_source_config_menu_02"
                          action="note_account_plan_cost_act_window"/>
                <menuitem name="Danh sách phiếu phân bổ"
                          id="auto_note_account_plan_cost_menu"
                          sequence="2"
                          groups="group_note_accounting_cost_user"
                          parent="sci_notebook_accounting.sales_by_source_config_menu_02"
                          action="auto_sales_by_source_act_window"/>
        <menuitem name="Thiết lập"
                  id="sales_by_source_config_root_menu_02"
                  sequence="5"
                  groups="group_note_accounting_admin"
                  parent="sci_notebook_accounting.sales_by_source_root_menu"/>
                <menuitem name="Cấu hình nhóm chi phí"
                          id="cost_item_group_config_menu"
                          parent="sci_notebook_accounting.sales_by_source_config_root_menu_02"
                          sequence="1"
                          groups="account.group_account_manager"
                          action="sci_notebook_accounting.cost_item_group_config_act_window"/>
                <menuitem name="Nguồn/Khối"
                          id="source_config_account_menu"
                          parent="sci_notebook_accounting.sales_by_source_config_root_menu_02"
                          sequence="2"
                          groups="account.group_account_manager"
                          action="sci_notebook_accounting.source_config_account_act_window"/>
                <menuitem name="Cấu hình nguồn bán"
                          id="config_source_revenue_memu"
                          parent="sci_notebook_accounting.sales_by_source_config_root_menu_02"
                          sequence="3"
                          groups="account.group_account_manager"
                          action="sci_notebook_accounting.config_source_revenue_act_window"/>
    </data>
</odoo>